.col-md-12.settings.invite.shadow
	%h3 Invite
	%p Enter emails seperated by comma only!
	%form.login-form{"role" => "form"}
		.form-group
			%textarea.form-control
		%button.btn.btn-default{:type => "submit"} Invite
	.close-settings	
		%button.btn.btn-default.close-settings-button{:type => "submit"} Close

		
